---
layout: default
---
<section>
  
    {% for post in paginator.posts %}
    <article>
      <header class="post-header">
      
        <time datetime="{{ post.date | date_to_xmlschema }}" class="post-meta m-mono">{{ post.date | date: "%d %b %Y" }}</time>
        <h1 class="title">
          <a href="{{ site.url }}{{ post.url }}" rel="bookmark" title="{{ post.title }}" itemprop="url">{{ post.title }}</a>
        </h1>
      </header>
    
      <div class="post-content">
        {{ post.content }}
      </div>
      <!-- /.post-content -->
          
    </article>

    {% endfor %}
    
    {% include pagination.html %}

</section>
